/**
 * @author Julien 'Blaxar' Bardagi <blaxar.waldarax@gmail.com>
 */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prompt {
    margin: auto;
}

.login {
    width: min-content;
}

.world-selection {
    width: min-content;
}

.central-overlay {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
}

.user-settings {
    max-width: 30vw;
}

.top-bar {
    width: 100%;
    height: min-content;
}

.bottom-bar {
    width: 100%;
    height: min-content;
}

#chat-prompt {
    width: 100%
}

pre#chat-box{
    width: 100%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    /* Enable scrolling */
    overflow: scroll;
    overflow-x: hidden;
    max-height: 7vh;
    margin: 0;
    padding: 0;

    /* reverse vertical display: last elements go top */
    display: flex;
    flex-direction: column-reverse;

    background: rgba(0,0,0,0.4);
    transition: 0.3s;
}

pre#chat-box:hover{
    max-height: 25vh;
    background: rgba(0,0,0,0.85);
}

pre#chat-box span {
    display: block;
    color: white;
    text-shadow: 2px 2px 3px black;
    margin-left: 0.07in;
}

pre#chat-box span.error {
  color: #ff9999;
}

pre#chat-box span.warning {
  color: #ffaa55;
}

pre#chat-box span.info {
  color: #99ffff;
}

pre#chat-box span strong {
    color: #55ff55;
}

.button-bar {
    height: min-content;
}

.settings-pannel {
    height: min-content;
}

.controls-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px;
    width: fit-content;
}

.controls-container table {
    display: block;
    margin-right: 10px;
}

th.controls-header {
    text-align: left;
}

#main-3d-canvas {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
