body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#overlay {
    width: 100%;
    height: 100%;
    display: flex;
}

.window {
    margin: 40vh auto;
}

.login {
    width: min-content;
}

.world-selection {
    width: min-content;
}

.top-bar {
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 100vw;
    height: min-content;
}

.button-bar {
    height: min-content;
}

.settings-pannel {
    height: min-content;
}

#main-3d-canvas {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}
