/**
 * @author Julien 'Blaxar' Bardagi <blaxar.waldarax@gmail.com>
 */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prompt {
    margin: auto;
}

.login {
    width: min-content;
}

.world-selection {
    width: min-content;
}

.central-overlay {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
}

.left-surface, .central-surface, .right-surface {
    width: 33.333vw;
    vertical-align: middle;
    height: 50vh;
}

div.prop-settings {
    width: 75%;
    margin-left: auto;
    margin-right: 0;
}

table.prop-container tr th {
    width: 10%;
    vertical-align: top;
    text-align: right;
}

table.prop-container tr.button-bar button {
    width: 2.6em;
    height: 2.6em;
    min-width: 1em;
    min-height: 1em;
    margin-right: 0.2em;
}

button[name=prop-undo] {
    background: url(icons/prop-undo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-delete] {
    background: url(icons/prop-delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-duplicate] {
    background: url(icons/prop-duplicate.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-up], button[name=prop-up]:active {
    background: url(icons/prop-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-down], button[name=prop-down]:active {
    background: url(icons/prop-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-left], button[name=prop-left]:active {
    background: url(icons/prop-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-right], button[name=prop-right]:active {
    background: url(icons/prop-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-forward], button[name=prop-forward]:active {
    background: url(icons/prop-forward.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-backward], button[name=prop-backward]:active {
    background: url(icons/prop-backward.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-rot-x-ccw], button[name=prop-rot-x-ccw]:active {
    background: url(icons/prop-rot-x-ccw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-rot-x-cw], button[name=prop-rot-x-cw]:active {
    background: url(icons/prop-rot-x-cw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-rot-y-ccw], button[name=prop-rot-y-ccw]:active {
    background: url(icons/prop-rot-y-ccw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-rot-y-cw], button[name=prop-rot-y-cw]:active {
    background: url(icons/prop-rot-y-cw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-rot-z-ccw], button[name=prop-rot-z-ccw]:active {
    background: url(icons/prop-rot-z-ccw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

button[name=prop-rot-z-cw], button[name=prop-rot-z-ccw]:active {
    background: url(icons/prop-rot-z-cw.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.1em 2.1em;
}

table.prop-container tr.prop-name th {
    vertical-align: middle;
}

table.prop-container tr td textarea {
    width: 100%;
    min-height: 12vh;
    resize: none;
}

.top-bar {
    width: 100%;
    height: min-content;
}

.bottom-bar {
    width: 100%;
    height: min-content;
}

#chat-prompt {
    width: 100%
}

pre#chat-box{
    width: 100%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    /* Enable scrolling */
    overflow: scroll;
    overflow-x: hidden;
    max-height: 7vh;
    margin: 0;
    padding: 0;

    /* reverse vertical display: last elements go top */
    display: flex;
    flex-direction: column-reverse;

    background: rgba(0,0,0,0.4);
    transition: 0.3s;
}

pre#chat-box:hover{
    max-height: 25vh;
    background: rgba(0,0,0,0.85);
}

pre#chat-box span {
    display: block;
    color: white;
    text-shadow: 2px 2px 3px black;
    margin-left: 0.07in;
}

pre#chat-box span.error {
  color: #ff9999;
}

pre#chat-box span.warning {
  color: #ffaa55;
}

pre#chat-box span.info {
  color: #99ffff;
}

pre#chat-box span strong {
    tab-size: 12;
    color: #55ff55;
}

pre#chat-box span strong::after {
  color: white;
  content: ":\0009";
}

.button-bar {
    height: min-content;
}

.settings-pannel {
    height: min-content;
}

.controls-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px;
    width: fit-content;
}

.controls-container table {
    display: block;
    margin-right: 10px;
}

th.controls-header {
    text-align: left;
}

#main-3d-canvas {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.text-input {
    font-family: "Monospace";
    font-size: 0.92em;
}

.text-input:disabled {
    background-color: lightgrey;
}
